  input {
    border: none; /* Remove the border */
    outline: none; /* Remove the outline when focused */
    background: transparent; /* Remove background color */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  body {
    font-size: 16px;
    line-height: 20px;
    font-family: "Lato", sans-serif;
    margin: 0;
    overflow-x: hidden
  }